.products {
  margin-top: 50px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.order-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 15px;
  background-color: #25D366; /* لون WhatsApp */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.order-btn:hover {
  background-color: #128C7E;
}
